# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

Makefile                             text eol=lf
Makefile.ci                          text eol=lf
Makefile.deis                        text eol=lf
Makefile.deis2                       text eol=lf
Makefile.docker                      text eol=lf
Makefile.docker-application-template text eol=lf
Makefile.encrypt                     text eol=lf
Makefile.template                    text eol=lf
