apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: {{ app_name }}-collect-binaries-job
spec:
  schedule: "{{ binaries_job_schedule }}"
  concurrencyPolicy: Forbid
#  successfulJobsHistoryLimit: 5
#  failedJobsHistoryLimit: 5
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: {{ app_name }}
            image: {{ vstore_worker_image_path }}:{{ image_version }}
            command: ["/app/VStore.Worker", "collect", "binaries"]
            args: ["range=$(COLLECT_TIME_RANGE)"]
            resources:
              limits:
                cpu: {{ worker_app_limits_cpu }}
                memory: {{ worker_app_limits_memory }}
              requests:
                cpu: {{ worker_app_requests_cpu }}
                memory: {{ worker_app_requests_memory }}
            env:
            - name: VSTORE_ENVIRONMENT
              value: {{ vstore_env }}
            - name: AWS_ACCESS_KEY_ID
              value: {{ ceph_key_id }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ ceph_access_key }}
            - name: VSTORE_AWS__ServiceURL
              value: {{ ceph_rgw_url }}
            - name: VSTORE_Ceph__FilesBucketName
              value: {{ files_bucket_name }}
            - name: COLLECT_TIME_RANGE
              value: {{ binaries_job_timerange }}
            - name: VSTORE_Kafka__BrokerEndpoints
              value: {{ kafka_endpoints }}
            - name: VSTORE_Kafka__ObjectEventsTopic
              value: {{ object_events_topic }}
            - name: VSTORE_Kafka__ObjectVersionsTopic
              value: {{ object_versions_topic }}
            - name: VSTORE_Kafka__SessionEventsTopic
              value: {{ session_events_topic }}
            - name: VSTORE_Kafka__BinariesReferencesTopic
              value: {{ binaries_references_topic }}
